#surveyAnkieta1 {
    &.finished {
        .modal-header .text, .modal-body, .modal-footer {
            display: none;
        }
        .modal-content .modal-header .text.finisher {
            display: block;
            margin-top: 36px;

            > p {
                font-size: 18px;
            }
        }
    }
    .modal-dialog {
        max-width: 540px;

        .modal-header {
            margin-top: 0;
            background: url(/img/survey/ankieta1_header.png) top center no-repeat;
            height: 220px;
            padding: 20px 24px;

            .close {
                color: #ffffff;
                height: 22px;
                line-height: 0;
                margin-right: -18px;
                margin-top: -12px;
                opacity: 1;
                text-align: center;
                width: 22px;
                border: 1px solid #fff;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
            }

            .text {
                font-size: 14px;
                font-weight: normal;
                color: #000000;

                &.finisher {
                    display: none;
                }

                > p {
                    max-width: 390px;

                    &:first-child {
                        font-size: 18px;
                    }
                    &:last-child {
                        font-size: 12px;
                    }
                }
            }
        }
        .modal-body {
            height: 395px;
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;

            .question {
                border-bottom: 1px solid #e5e5e5;
                display: inline-block;
                float: left;
                padding: 16px 20px 20px 30px;
                width: 100%;

                &:last-child {
                    border-bottom: 0;
                }

                > h4 {
                    color: #333333;
                    font-size: 16px;
                    font-weight: normal;
                    margin-bottom: 16px;
                    margin-top: 0;
                }

                .radio, .checkbox {
                    margin-bottom: 0;
                    margin-top: 10px;
                    padding-right: 6px;

                    &.col-xs-2Half {
                        width: 20%;
                    }

                    label {
                        line-height: 1.2em;
                        font-size: 14px;
                        font-weight: normal;
                        color: #808080;
                    }
                }

                .checkbox {
                    padding-left: 20px;

                    label {
                        display: inline-block;
                        vertical-align: middle;
                        position: relative;
                        padding-left: 5px;

                        &::before {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            width: 17px;
                            height: 17px;
                            left: 0;
                            margin-left: -20px;
                            border: 1px solid #ccc;
                            border-radius: 50%;
                            background-color: #fff;
                            -webkit-transition: border 0.15s ease-in-out;
                            -o-transition: border 0.15s ease-in-out;
                            transition: border 0.15s ease-in-out;
                        }

                        &::after {
                            display: inline-block;
                            position: absolute;
                            content: " ";
                            width: 11px;
                            height: 11px;
                            left: 3px;
                            top: 3px;
                            margin-left: -20px;
                            border-radius: 50%;
                            background-color: #555;
                            -webkit-transform: scale(0, 0);
                            -ms-transform: scale(0, 0); // IE9 only
                            -o-transform: scale(0, 0);
                            transform: scale(0, 0);
                            -webkit-transition: -webkit-transform .1s cubic-bezier(.8, -0.33, .2, 1.33);
                            -moz-transition: -moz-transform .1s cubic-bezier(.8, -0.33, .2, 1.33);
                            -o-transition: -o-transform .1s cubic-bezier(.8, -0.33, .2, 1.33);
                            transition: transform .1s cubic-bezier(.8, -0.33, .2, 1.33);
                        }
                    }
                    input[type="checkbox"] {
                        &:focus + label::before {
                            // Default
                            outline: thin dotted;
                            // WebKit
                            outline: 5px auto -webkit-focus-ring-color;
                            outline-offset: -2px;
                        }
                        &:checked + label::after {
                            -webkit-transform: scale(1, 1);
                            -ms-transform: scale(1, 1); // IE9 only
                            -o-transform: scale(1, 1);
                            transform: scale(1, 1);
                        }
                    }
                }
            }
        }
        .modal-footer {
            padding: 25px 15px;

            .progressBar {
                padding: 0;
                margin: 12px 15px;

                li {
                    margin-right: 7px;
                    float: left;
                    width: 10px;
                    height: 10px;
                    display: block;
                    background-color: #c0c0c0;
                    border: 1px solid #c0c0c0;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;

                    &.active {
                        background-color: #266897;
                        border-color: #266897;
                    }
                }
            }
            .btn.btn-primary {
                padding-left: 30px;
                padding-right: 30px;

                &.loading {
                    background-color: #337ab7;
                }
            }
        }
    }
}
