<?php
const URL_PROTOCOL = '${URL_PROTOCOL}';
const URL_HOST = '${URL_HOST}';

define('PORTAL_DOMAIN', '${PORTAL_DOMAIN}');
define('PK_DOMAIN', '${PK_DOMAIN}');
define('API_url', '${API_url}');


define('GOOGLE_MAPS_KEY', "${GOOGLE_MAPS_KEY}");
define('CAKE_salt', "${CAKE_salt}");
define('CAKE_cipherSeed', '${CAKE_cipherSeed}');

define('OAUTH_client_id', '${OAUTH_client_id}');
define('OAUTH_client_secret', '${OAUTH_client_secret}');

define('PASSPORT_client', '${PASSPORT_client}');
define('PASSPORT_salt', '${PASSPORT_salt}');

define('FACEBOOK_appId', '${FACEBOOK_appId}');
define('FACEBOOK_apiKey', '${FACEBOOK_apiKey}');
define('FACEBOOK_secret', '${FACEBOOK_secret}');

define('S3_ACCESS_KEY', '${S3_ACCESS_KEY}');
define('S3_SECRET_KEY', '${S3_SECRET_KEY}');
define('S3_ENDPOINT', '${S3_ENDPOINT}');

define('GOOGLE_API_ID', '${GOOGLE_API_ID}');
define('GOOGLE_API_SECRET', '${GOOGLE_API_SECRET}');

define('CROSSDOMAIN_salt', '${CROSSDOMAIN_salt}');
define('HFHR_SECRET', '${HFHR_SECRET}');

Configure::write('debug', 0);
