@font-face {
	font-family: 'dzialy';
	src:url('../fonts/dzialy/dzialy.eot?-7zjdal');
	src:url('../fonts/dzialy/dzialy.eot?#iefix-7zjdal') format('embedded-opentype'),
		url('../fonts/dzialy/dzialy.ttf?-7zjdal') format('truetype'),
		url('../fonts/dzialy/dzialy.woff?-7zjdal') format('woff'),
		url('../fonts/dzialy/dzialy.svg?-7zjdal#dzialy') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'dzialy';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dzialy-Urzedy:before, .icon-dzialy-1:before {
	content: "\e600";
}
.icon-dzialy-Kultura:before, .icon-dzialy-2:before {
	content: "\e601";
}
.icon-dzialy-Ubezpieczenia_spoleczne:before, .icon-dzialy-3:before {
	content: "\e602";
}
.icon-dzialy-Oswiata:before, .icon-dzialy-5:before {
	content: "\e603";
}
.icon-dzialy-Dzialalnosc_uslugowa:before, .icon-dzialy-6:before {
	content: "\e604";
}
.icon-dzialy-Admnistracja_publiczna:before, .icon-dzialy-7:before {
	content: "\e605";
}
.icon-dzialy-Obrona_narodowa:before, .icon-dzialy-8:before {
	content: "\e606";
}
.icon-dzialy-Bezpieczenstwo:before, .icon-dzialy-9:before {
	content: "\e607";
}
.icon-dzialy-Gospodarka_mieszkaniowa:before, .icon-dzialy-10:before {
	content: "\e608";
}
.icon-dzialy-Przetworstwo_przemyslowe:before, .icon-dzialy-11:before {
	content: "\e609";
}
.icon-dzialy-Hotele:before, .icon-dzialy-12:before {
	content: "\e60a";
}
.icon-dzialy-Rozne_rozliczenia:before, .icon-dzialy-13:before {
	content: "\e60b";
}
.icon-dzialy-Gornictwo:before, .icon-dzialy-14:before {
	content: "\e60c";
}
.icon-dzialy-Handel:before, .icon-dzialy-15:before {
	content: "\e60d";
}
.icon-dzialy-Gospodarka_komunalna:before, .icon-dzialy-16:before {
	content: "\e60e";
}
.icon-dzialy-Transport:before, .icon-dzialy-17:before {
	content: "\e60f";
}
.icon-dzialy-Szkolnictwo_wyzsze:before, .icon-dzialy-18:before {
	content: "\e610";
}
.icon-dzialy-Opieka_wychowawcza:before, .icon-dzialy-19:before {
	content: "\e611";
}
.icon-dzialy-Kultura_fizyczna:before, .icon-dzialy-20:before {
	content: "\e612";
}
.icon-dzialy-Informatyka:before, .icon-dzialy-21:before {
	content: "\e613";
}
.icon-dzialy-Nauka:before, .icon-dzialy-22:before {
	content: "\e614";
}
.icon-dzialy-Ochrona_zdrowia:before, .icon-dzialy-23:before {
	content: "\e615";
}
.icon-dzialy-Rolnictwo:before, .icon-dzialy-25:before {
	content: "\e616";
}
.icon-dzialy-Pomoc_spoleczna:before, .icon-dzialy-26:before {
	content: "\e617";
}
.icon-dzialy-Turystyka:before, .icon-dzialy-27:before {
	content: "\e618";
}
.icon-dzialy-Lesnictwo:before, .icon-dzialy-28:before {
	content: "\e619";
}
.icon-dzialy-Ogrody_botaniczne:before, .icon-dzialy-29:before {
	content: "\e61a";
}
.icon-dzialy-Rybolowstwo:before, .icon-dzialy-30:before {
	content: "\e61b";
}
.icon-dzialy-Oblsuga_dlugu:before, .icon-dzialy-31:before {
	content: "\e61c";
}
.icon-dzialy-Dochody:before, .icon-dzialy-32:before {
	content: "\e61d";
}
.icon-dzialy-Wytwarzanie_energii:before, .icon-dzialy-33:before {
	content: "\e61e";
}
