.mBrowser .item .tools {}
.mBrowser .item .tools a {display: block; margin: 5px;}

.mBrowser .item ul.flags {margin-left:110px; min-height:140px;}
.mBrowser .item ul.flags li {list-style: disc inside; padding: 5px;}
.mBrowser .item ul.flags .error {color: #C00;}
.mBrowser .item ul.flags .ok {color: #060;}

#dokument {background-color:#EEE; border:1px dashed #CCC; margin-left: 10px; padding: 5px;}

.druk_title_bar {background-color: #EEE; padding: 5px 8px; -moz-border-radius: 5px; margin-bottom: 10px;}

#duplikaty_div {background-color: #CCC; padding: 10px; margin-bottom: 10px; -moz-border-radius: 5px;}

#duplikaty_table {width: 100%; background-color: white;}
#duplikaty_table td, #duplikaty_table th {border: 1px solid #CCC; text-align: center; padding: 3px; width: 1%;}
#duplikaty_table th {font-weight: bold;}
#duplikaty_table tr.buttons {background-color:#EEE; text-align: center}

.druki_oryginalne {background-color: #FCC; padding: 10px;}

#pliki_div {overflow: auto;}
#pliki_div .p {width: 102px; padding: 10px; float: left;}
#pliki_div .p img {border: 1px solid #CCC;}
#pliki_div .p .filename {text-align: center;}
#pliki_div .p .extension {text-align: center; font-weight: bold;}


.navbar {
    .middle {
        margin-top: 10px;
        margin-right: 50px;
        .btn{
            padding: 13px 16px;
        }
    }
    .add_vertical {
        position: relative;

        .btn-counter {
            position: absolute;
            bottom: -3px;
            right: -3px;
            height: 15px;
            width: 15px;
            background-color: #e22f2c;
            font-size: 10px;
            border-radius: 3px;
            padding: 1px;
        }
    }
}

.objectsPageContent {
    overflow: auto;
    position: relative;
    .page {
        display: block;
        background-color: #FFF;
        left: 0;
        .vert_line {
            display: block;
            position: absolute;
            width: 3px;
            border-left: 1px solid #333;

        }

        .hor_line {
            display: block;
            position: absolute;
            height: 1px;
            background-color: #333;
        }
        p {
            display: inline;
            position: absolute;
            font-size: 8px;
        }
    }
    ._element {
        background-color: yellow;
        ._czesc {
            background-color: #00FF99;
        }
        ._dzial {
            background-color: #00CCFF;
        }
        ._rozdzial {
            background-color: #FF99CC;
        }
        ._dostawka {
            background-color: #660033;
            color: #FFF;
        }
    }
}

#items_table {
    width: 100%;
}

#items_table tr td {
    border: 1px solid #CCC;
}

.kolumna-1{
    background-color: #002F2F;
}

.kolumna-2{
    background-color: #aaaaaa;
}

.kolumna-3{
    background-color: #aa22aa;
}

.kolumna-4{
    background-color: #a1Fa2F;
}

.kolumna-5{
    background-color: #22aa22;
}

.kolumna-8{
    background-color: #ff112F;
}
