@appSize: 200px;

.app-sidebar {
    width: @appSize;
    background-color: #23282d;
    z-index: 1;
    height: auto;
    min-height: 100%;
    display: block;
    position: fixed;
    top: 44px;

    .app-logo {
        padding: 30px 20px;
        font-size: 12px;
        text-transform: uppercase;

        &, > a {
            color: #d8d8d8;
            position: relative;
            float: left;
            width: 100%;
        }

        .icon {
            width: 40px;
            font-size: 2em;
            margin-right: 5px;
            position: absolute;
            left: 0;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
        }

        strong {
            padding-left: 45px;
            float: left;
            line-height: 1.2em;
        }
    }

    .app-list {
        background-color: #34343d;
        list-style: none;
        padding: 0;

        li {
            display: block;
            min-height: 42px;
            padding: 15px 20px;
            font-size: 10px;

            .icon {
                margin-right: 5px;
                font-size: 1.2em;
            }
        }

        > li {
            text-transform: uppercase;

            &.active {
                color: #d8d8d8;
                background-color: #29292f;
            }

            > a {
                color: #999999;

                > ul {
                    padding-top: 12px;
                    padding-left: 20px;

                    li {
                        color: #cccccc;
                        text-transform: lowercase;

                        &:last-child {
                            padding-bottom: 0;
                            min-height: 30px;
                        }
                    }
                }
            }
        }
    }
}

.app-content-wrap {
    margin-left: @appSize;
}
