.app_chapters {
	.object-icon {
		background-color: #89a;
		border-radius: 12px;
		width: 24px;
		height: 24px;
		text-align: center;
		font-size: 17px;
		float: left;
		margin-right: 8px;
		color: #FFF;
	}
	.object-icon-side {
		margin-top: 2px;
	}
}