.app_chapters {
	li {
		&.active {
			.object-icon {
				background-color: #dc4a38;
				color: #FFF;
				border-color: #cc3a28;
				visibility: visible;
			}
		}
		
		&.appHeader {
			height: 55px;
			a {
				padding: 0 !important;
				margin: 0 !important;
			}
			.object-icon {
				width: 50px;
				height: 50px;
				border-style: none;
				border-radius: 0;
				background-color: inherit;
				margin-left: -8px;
			}
			.object-icon-side {
				font-weight: normal;
				height: 48px;
				span {
					font-size: 14px;
				    margin: -10px 0 0;
				    padding: 0;
				    position: absolute;
				    text-transform: uppercase;
				    top: 50%;
				    color: #60a0a7;
				}
			}
			&.active {
				&.object-icon {
					background-color: inherit;
				}
			}
		}
		
		.object-icon {
			border-radius: 12px;
			width: 24px;
			height: 24px;
			text-align: center;
			font-size: 17px;
			float: left;
			margin-right: 8px;
			color: #666;
			line-height: 24px;
			font-weight: normal;
			margin-top: -2px;
		}
		.object-icon-side {
			margin-top: 2px;
            line-height: 1.2em;
		}
		a {
			color: #23527C;
		}

        ul.appChapterSubMenu {
            margin: 5px 0 5px 32px;

            li {
                a {
                    color: #23527C !important;
                    font-weight: normal !important;
                }

                &.active {
                    a {
                        color: #DC4A38 !important;
                        font-weight: bold !important;
                    }
                }
            }
        }
	}
}
