.app_chapters {
	li {
		&.active {
			.object-icon {
				background-color: #dc4a38;
				color: #FFF;
				border-color: #cc3a28;
			}
		}
		.object-icon {
			border-radius: 12px;
			width: 24px;
			height: 24px;
			text-align: center;
			font-size: 17px;
			float: left;
			margin-right: 8px;
			color: #666;
			line-height: 24px;
			font-weight: normal;
			margin-top: -2px;
		}
		.object-icon-side {
			margin-top: 2px;
            line-height: 1.2em;
		}
		a {
			color: #23527C;
		}

        ul.appChapterSubMenu {

            margin: 5px 0 5px 32px;

            li {

                a {

                    color: #23527C !important;
                    font-weight: normal !important;

                }

                &.active {

                    a {

                        color: #DC4A38 !important;
                        font-weight: bold !important;

                    }

                }

            }

        }
	}
}
