.appHeader {
    @menuSize: 56px;

    width: 100%;
    height: 208px;
    background: url(/img/home/backgrounds/home-background-default.jpg) center top no-repeat #222224;
    background-size: cover;
    position: relative;

    > .container {
        position: relative;
        height: 100%;
    }

    .holder {
        position: absolute;
        top: 50%;
        left: 18px;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        transform: translate(0, -50%);

        h1 {
            margin: 0 10px 20px;
            font-size: 30px;
            font-weight: 300;
            color: #ffffff;
        }

        h2 {
            margin: 0 10px 20px;
            font-size: 18px;
            font-weight: 400;
            color: #157Ab5;
        }
    }
    .menu {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: @menuSize;

        ul {
            margin: 0;
            padding: 0;
            height: 100%;

            li {
                height: @menuSize;
                margin: 0 20px;
                float: left;
                display: block;

                &.active {
                    border-bottom: 4px solid #63afea;

                    a {
                        color: #63afea;
                    }
                }

                a {
                    display: block;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: bold;
                    margin: 18px 0;
                }
            }
        }
    }

}