@import "variable";

#home {
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;

    .grid {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;

        > ul {
            display: none;
        }

        .widget {
            font-size: 12px;
            font-weight: 700;
            color: #ffffff;
            position: absolute !important;
            display: block;
            background-color: rgba(0, 0, 0, .6);
            padding: 10px;
        }
    }

    .startWindow {
        min-height: 100vh;

        .windowSet {
            ._mPSearchOutside {
                height: 50px;
                margin-right: 15px;
                margin-bottom: 20px;

                .suggesterBlock {
                    margin-bottom: 0;
                    display: block;
                }
            }
            .basicOptions {
                width: 100%;
                float: left;

                .part {
                    padding-left: 0;

                    .mainBrick {
                        min-height: 290px;
                        border-bottom: 2px solid #63afea;
                        padding: 25px;
                        color: #ffffff;
                        background-color: #014068;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;

                        &.observeBrick {
                            background-image: url(/img/home/brick_obserwuj.jpg);
                        }
                        &.shoutBrick {
                            background-image: url(/img/home/brick_komunikuj.jpg);
                        }

                        .title {
                            font-size: 50px;
                            font-weight: 100;
                            text-align: center;
                        }

                        .line {
                            width: 65px;
                            height: 2px;
                            border-bottom: 2px solid #63afea;
                            margin: 5px auto 15px;
                            display: block;
                        }

                        .description {
                            font-size: 14px;
                            font-weight: normal;
                            line-height: 1.2em;
                            text-align: center;
                        }

                        .action {
                            margin-top: 25px;
                            text-align: center;

                            a {
                                font-size: 14px;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }

            .popularApps {
                width: 100%;
                float: left;
                margin-top: 20px;

                .homePageIcon {
                    @hoverColor: #63afea;

                    padding-top: 8px;
                    padding-right: 30px;
                    padding-bottom: 8px;
                    margin-bottom: 20px;
                    height: 120px;
                    border-left: 2px solid #ffffff;

                    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#333333)";
                    text-shadow: 2px 2px 2px #333333;
                    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#333333);

                    &.allApps {
                        > img, > i, > p {
                            color: @hoverColor;
                        }
                    }

                    &:hover {
                        border-left-color: @hoverColor;

                        svg path {
                            fill: @hoverColor;
                        }

                        > p {
                            color: @hoverColor;
                        }
                    }

                    > img, > i, svg {
                        display: block;
                        height: 50px;
                        min-width: 50px;
                        max-width: 65px;
                        color: #ffffff;
                    }
                    svg path {
                        fill: #ffffff;
                    }
                    > i:before {
                        font-size: 40px;
                        line-height: 50px;
                        color: #63afea;
                    }
                    > p {
                        margin-top: 20px;
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 1em;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #home {
        .startWindow {
            .windowSet {
                width: 100%;
                float: left;

                ._mPSearchOutside {
                    margin-right: 0;
                }

                .basicOptions .part {
                    padding-left: 0;
                    padding-right: 0;

                    .mainBrick {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media (min-width: 769px) {
    #home {
        .startWindow {
            .windowSet {
                position: absolute;
                top: 50%;
                -moz-transform: translate(0, -50%);
                -webkit-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
            }
        }
    }
}