@import "variable";

#home {
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;

    .grid {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;

        > ul {
            display: none;
        }

        .widget {
            font-size: 12px;
            font-weight: 500;
            color: #ffffff;
            position: absolute !important;
            display: block;
            background-color: rgba(0, 0, 0, .6);
            padding: 10px;
        }
    }

    .startWindow {
        min-height: 100vh;

        .windowSet {
            ._mPSearchOutside {
                height: 50px;
                margin-bottom: 20px;

                .main_input {
                    @color: #dddddd;

                    .glyph-addon {
                        color: @color;
                    }
                    .form-control {
                        background-color: rgba(255, 255, 255, 0.1);
                        border-width: 0;
                        color: @color;

                        outline: none !important;

                        &:focus {
                            outline: none !important;
                        }
                    }
                }

                .suggesterBlock {
                    margin-bottom: 0;
                    display: block;
                }
            }
            .basicOptions {
                width: 100%;
                float: left;

                &.public-data {
                    margin-bottom: 15px;
                }

                .part {
                    padding-left: 0;

                    .mainBrick {
                        min-height: 290px;
                        border-bottom: 2px solid #63afea;
                        padding: 25px 25px 80px;
                        color: #ffffff;
                        background: rgba(0, 0, 0, .6);
                        position: relative;

                        .title {
                            font-size: 50px;
                            font-weight: 300;
                            text-align: center;
                            color: #ffffff;
                        }

                        .line {
                            width: 65px;
                            height: 2px;
                            border-bottom: 1px solid #dddddd;
                            margin: 5px auto 15px;
                            display: block;
                        }

                        .description {
                            font-size: 15px;
                            line-height: 1.2em;
                            text-align: center;
                            font-weight: 300;
                        }

                        .action {
                            position: absolute;
                            bottom: 25px;
                            left: 50%;

                            -webkit-transform: translate(-50%, 0);
                            -moz-transform: translate(-50%, 0);
                            -ms-transform: translate(-50%, 0);
                            -o-transform: translate(-50%, 0);
                            transform: translate(-50%, 0);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #home {
        .startWindow {
            .windowSet {
                width: 100%;
                float: left;

                ._mPSearchOutside {
                    margin-right: 0;
                    margin-top: 20px;
                }

                .basicOptions.public-data {
                    margin-bottom: 20px;
                }

                .basicOptions .part {
                    padding-left: 0;
                    padding-right: 0;

                    .mainBrick {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media (min-width: 769px) {
    #home {
        .startWindow {
            .windowSet {
                position: absolute;
                top: 50%;

                -webkit-transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                transform: translate(0, -50%);
            }
        }
    }
}