@import "variable";

#home {
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;

    ._handler {
        background: rgba(0, 0, 0, 0.4);

        .startWindow {
            min-height: 100vh;

            .windowSet {
                width: 100%;
                float: left;
                padding-top: 30px;
                padding-bottom: 10px;

                ._mPSearchOutside {
                    height: 50px;

                    .main_input {
                        @color: #dddddd;

                        border-bottom: 2px solid #63afea;

                        .glyph-addon {
                            color: @color;
                        }
                        .form-control {
                            background-color: rgba(0, 0, 0, .6);
                            border-width: 0;
                            color: @color;
                            -webkit-border-bottom-left-radius: 0;
                            -webkit-border-bottom-right-radius: 0;
                            -moz-border-radius-bottomleft: 0;
                            -moz-border-radius-bottomright: 0;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;

                            &:focus {
                                background-color: #ffffff;
                                color: #333333;
                            }
                        }
                    }

                    .suggesterBlock {
                        margin-bottom: 0;
                        display: block;
                    }
                }
                .basicOptions {
                    width: 100%;
                    float: left;

                    .part {
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            padding-right: 0;
                        }

                        .mainBrick {
                            min-height: 290px;
                            border-bottom: 2px solid #63afea;
                            padding: 25px 25px 80px;
                            color: #ffffff;
                            background: rgba(0, 0, 0, .6);
                            position: relative;

                            .title {
                                font-size: 50px;
                                font-weight: 300;
                                text-align: center;
                                color: #ffffff;
                            }

                            .line {
                                width: 65px;
                                height: 2px;
                                border-bottom: 1px solid #dddddd;
                                margin: 5px auto 15px;
                                display: block;
                            }

                            .description {
                                font-size: 15px;
                                line-height: 1.2em;
                                text-align: center;
                                font-weight: 300;
                            }

                            .action {
                                position: absolute;
                                bottom: 25px;
                                left: 50%;

                                -webkit-transform: translate(-50%, 0);
                                -moz-transform: translate(-50%, 0);
                                -ms-transform: translate(-50%, 0);
                                -o-transform: translate(-50%, 0);
                                transform: translate(-50%, 0);
                            }
                        }
                    }
                }

                .appsList {
                    width: 100%;
                    float: left;
                    margin-top: 20px;

                    h2 {
                        color: #ffffff;
                        text-align: center;
                    }

                    .homePageIcon {
                        @hoverColor: #63afea;

                        padding-top: 8px;
                        padding-right: 30px;
                        padding-bottom: 8px;
                        margin-bottom: 20px;
                        height: 120px;
                        text-align: center;
						

					
					    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 62%, rgba(0,0,0,0) 100%); /* ff3.6+ */
					    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0.3)), color-stop(62%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0))); /* safari4+,chrome */
					    background:-webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 62%, rgba(0,0,0,0) 100%); /* safari5.1+,chrome10+ */
					    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 62%, rgba(0,0,0,0) 100%); /* opera 11.10+ */
					    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 62%, rgba(0,0,0,0) 100%); /* ie10+ */
					    background:radial-gradient(ellipse at center, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 62%, rgba(0,0,0,0) 100%); /* w3c */
					    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* ie6-9 */


						
                        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#333333)";
                        text-shadow: 2px 2px 2px #333333;
                        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#333333);

                        &:hover {
                            border-left-color: @hoverColor;

                            > i, > p {
                                color: @hoverColor;
                            }
                        }

                        > i {
                            margin: 0 auto;
                            display: block;
                            height: 50px;
                            min-width: 50px;
                            max-width: 65px;
                            color: #ffffff;

                            &:before {
                                font-size: 40px;
                                line-height: 50px;
                            }
                        }

                        > p {
                            margin-top: 20px;
                            color: #ffffff;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 1em;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #home {
        .startWindow {
            .windowSet {
                width: 100%;
                float: left;

                ._mPSearchOutside {
                    margin-right: 0;
                    margin-top: 20px;
                }

                .basicOptions .part {
                    padding-left: 0;
                    padding-right: 0;

                    .mainBrick {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}