/* APPLICATION ICON CLASS*/
[class^="icon-applications-"]:before, [class*=" icon-applications-"]:before {
    font-family: "Glyphicons Halflings";
    font-style: normal;
    content: "\e022";
    font-size: 0.9em;
}

.icon-applications-351:before {
    content: "\e618";
}

.icon-applications-szukaj:before {
    font-family: 'applications';
    content: "\e616";
}

.icon-applications-powiadomienia:before {
    font-family: 'applications';
    content: "\e60a";
}

.icon-applications-pisma:before {
    font-family: 'applications';
    content: "\e60b";
}

.icon-applications-paszport:before {
    font-family: 'applications';
    content: "\e60c";
}

.icon-applications-krs:before {
    font-family: 'applications';
    content: "\e605";
}

.icon-applications-ngo:before {
    font-family: 'applications';
    content: "\e614";
}

.icon-applications-prawo:before {
    font-family: 'applications';
    content: "\e60d";
}

.icon-applications-bdl:before {
    font-family: 'applications';
    content: "\e615";
}

.icon-applications-kto_tu_rzadz:before {
    font-family: 'applications';
    content: "\e609";
}

.icon-applications-moja_gmina:before {
    font-family: 'applications';
    content: "\e605";
}

.icon-applications-media:before {
    font-family: 'applications';
    content: "\e608";
}

.icon-applications-zamowienia_publiczne:before {
    font-family: 'applications';
    content: "\e613";
}

.icon-applications-handel_zagraniczny:before {
    font-family: 'applications';
    content: "\e603";
}

.icon-applications-orzecznictwo:before {
    font-family: 'applications';
    content: "\e617";
}

.icon-applications-sejmometr:before {
    font-family: 'applications';
    content: "\e610";
}

.icon-applications-kody_pocztowe:before {
    font-family: 'applications';
    content: "\e604";
}

.icon-applications-raporty-dostep_do_informacji_publicznej:before {
    font-family: 'applications';
    content: "\e60e";
}

.icon-applications-raporty-finanse_gmin:before {
    font-family: 'applications';
    content: "\e611";
}

.icon-applications-raporty-wydatki_poslow:before {
    font-family: 'applications';
    content: "\e611";
}

.icon-applications-raporty-wyjazdy_poslow:before {
    font-family: 'applications';
    content: "\e612";
}
