/* APPLICATION ICON CLASS*/
[class^="icon-applications-"]:before, [class*=" icon-applications-"]:before {
    font-family: "Glyphicons Halflings";
    font-style: normal;
    content: "\e022";
    font-size: 0.9em;
}

.icon-applications-351:before {
    content: "\e618";
}

.icon-applications-szukaj:before {
    font-family: 'applications';
    content: "\e616";
}

.icon-applications-powiadomienia:before {
    font-family: 'applications';
    content: "\e60a";
}

.icon-applications-pisma:before {
    font-family: 'applications';
    content: "\e60b";
}

.icon-applications-paszport:before {
    font-family: 'applications';
    content: "\e60c";
}

.icon-applications-krs {
    background: url(/krs/icon/icon_krs.svg) center center no-repeat;
    width: 26px;
    height: 30px;

    &:before {
        //font-family: 'applications';
        //content: "\e605";
        content: ' ';
    }
}

.icon-applications-ngo {
    background: url(/ngo/icon/ngo.svg) center center no-repeat;
    width: 26px;
    height: 30px;

    &:before {
        //font-family: 'applications';
        //content: "\e614";
        content: ' ';
    }
}

.icon-applications-podatki {
    background: url(/podatki/icon/icon_podatki.svg) center center no-repeat;
    width: 26px;
    height: 30px;

    &:before {
        content: ' ';
    }
}

.icon-applications-mapa {
    background: url(/mapa/icon/icon_mapa.svg) center center no-repeat;
    width: 26px;
    height: 30px;

    &:before {
        content: ' ';
    }
}

.icon-applications-prawo {
    background: url(/prawo/icon/icon_prawo.svg) center center no-repeat;
    width: 26px;
    height: 30px;

    &:before {
        //font-family: 'applications';
        //content: "\e60d";
        content: ' ';
    }
}

.icon-applications-bdl {
    background: url(/bdl/icon/icon_bdl.svg) center center no-repeat;
    width: 26px;
    height: 30px;

    &:before {
        //font-family: 'applications';
        //content: "\e615";
        content: ' ';
    }
}

.icon-applications-kto_tu_rzadzi {
    background: url(/kto_tu_rzadzi/icon/icon_kto_tu_rzadzi.svg) center center no-repeat;
    width: 26px;
    height: 30px;

    &:before {
        //font-family: 'applications';
        //content: "\e609";
        content: ' ';
    }
}

.icon-applications-moja_gmina:before {
    font-family: 'applications';
    content: "\e605";
}

.icon-applications-media {
    background: url(/media/icon/icon_media.svg) center center no-repeat;
    width: 26px;
    height: 30px;

    &:before {
        //font-family: 'applications';
        //content: "\e608";
        content: " ";
    }
}

.icon-applications-zamowienia_publiczne {
    background: url(/zamowienia_publiczne/icon/icon_zamowienia_publiczne.svg) center center no-repeat;
    width: 26px;
    height: 30px;

    &:before {
        //font-family: 'applications';
        //content: "\e613";
        content: ' ';
    }
}

.icon-applications-handel_zagraniczny {
    background: url(/handel_zagraniczny/icon/icon_handel_zagraniczny.svg) center center no-repeat;
    width: 26px;
    height: 30px;

    &:before {
        //font-family: 'applications';
        //content: "\e603";
        content: ' ';
    }
}

.icon-applications-orzecznictwo {
    background: url(/orzecznictwo/icon/icon_orzecznictwo.svg) center center no-repeat;
    width: 26px;
    height: 30px;

    &:before {
        //font-family: 'applications';
        //content: "\e617";
        content: ' ';
    }
}

.icon-applications-sejmometr {
    background: url(/sejmometr/icon/icon_sejmometr.svg) center center no-repeat;
    width: 26px;
    height: 30px;

    &:before {
        //font-family: 'applications';
        //content: "\e610";
        content: ' '
    }
}

.icon-applications-kody_pocztowe:before {
    font-family: 'applications';
    content: "\e604";
}

.icon-applications-raporty-dostep_do_informacji_publicznej {
    background: url(/RaportyDostepDoInformacjiPublicznej/icon/icon_dostep_do_informacji_publicznej.svg) center center no-repeat;
    width: 26px;
    height: 30px;

    &:before {
        //font-family: 'applications';
        //content: "\e60e";
        content: ' ';
    }
}

.icon-applications-finanse {
    background: url(/finanse/icon/icon_finanse.svg) center center no-repeat;
    width: 26px;
    height: 30px;

    &:before {
        content: ' ';
    }
}

.icon-applications-raporty-finanse_gmin:before {
    font-family: 'applications';
    content: "\e611";
}

.icon-applications-raporty-wydatki_poslow {
    background: url(/wydatki_poslow/icon/icon_wydatki_poslow.svg) center center no-repeat;
    width: 26px;
    height: 30px;

    &:before {
        //font-family: 'applications';
        //content: "\e611";
        content: ' ';
    }
}

.icon-applications-raporty-wyjazdy_poslow {
    background: url(/wyjazdy_poslow/icon/icon_wyjazdy_poslow.svg) center center no-repeat;
    width: 26px;
    height: 30px;

    &:before {
        //font-family: 'applications';
        //content: "\e612";
        content: ' ';
    }
}

.icon-applications-faq:before {
    font-family: 'applications';
    content: "\e903";
}
