/* APPLICATION ICON CLASS*/
[class^="icon-datasets-"]:before, [class*=" icon-datasets-"]:before {
  font-family: "Glyphicons Halflings";
  font-style: normal;
  content: "\e022";
}

.icon-datasets-bdl:before,
.icon-datasets-bank_danych_lokalnych:before {
  font-family: 'datasets';
  content: "\e630";
}

.icon-datasets-bdl_wskazniki:before {
  font-family: 'datasets';
  content: "\e62f";
}

.icon-datasets-bdl_wskazniki_grupy:before {
  font-family: 'datasets';
  content: "\e631";
}

.icon-datasets-bdl_wskazniki_kategorie:before {
  font-family: 'datasets';
  content: "\e62e";
}

.icon-datasets-dostep_do_informacji_publicznej:before {
  font-family: 'datasets';
  content: "\e601";
}

.icon-datasets-finanse_gmin:before {
  font-family: 'datasets';
  content: "\e600";
}

.icon-datasets-handel_zagraniczny:before {
  font-family: 'datasets';
  content: "\e609";
}

.icon-datasets-handel_zagraniczny_towary:before {
  font-family: 'datasets';
  content: "\e607";
}

.icon-datasets-instytucje:before,
.icon-datasets-krakow_jednostki:before {
  font-family: 'datasets';
  content: "\e629";
}

.icon-datasets-kody_pocztowe:before {
  font-family: 'datasets';
  content: "\e606";
}

.icon-datasets-kody_pocztowe_ulice:before {
  font-family: 'datasets';
  content: "\e604";
}

.icon-datasets-krs:before {
  font-family: 'datasets';
  content: "\e63c";
}

.icon-datasets-krs_osoby:before {
  font-family: 'datasets';
  content: "\e627";
}

.icon-datasets-krs_osoby_kobieta:before {
  font-family: 'datasets';
  content: "\e639";
}

.icon-datasets-krs_osoby_mezczyzna:before {
  font-family: 'datasets';
  content: "\e63b";
}

.icon-datasets-krs_podmioty:before {
  font-family: 'datasets';
  content: "\e62a";
}

.icon-datasets-zamowienia_publiczne_zamawiajacy:before {
  font-family: 'datasets';
  content: "\e63c";
}

.icon-datasets-kto_tu_rzadzi:before {
  font-family: 'datasets';
  content: "\e629";
}

.icon-datasets-mapa_prawa:before {
  font-family: 'datasets';
  content: "\e60b";
}

.icon-datasets-media:before {
  font-family: 'datasets';
  content: "\e61e";
}

.icon-datasets-moja_gmina:before,
.icon-datasets-miejscowosci:before {
  font-family: 'datasets';
  content: "\e626";
}

.icon-datasets-msig:before {
  font-family: 'datasets';
  content: "\e610";
}

.icon-datasets-orzecznictwo:before {
  font-family: 'datasets';
  content: "\e635";
}

.icon-datasets-poslowie_oswiadczenia_majatkowe:before,
.icon-datasets-krakow_pomoc_publiczna:before,
.icon-datasets-krakow_darczyncy:before,
.icon-datasets-krakow_oswiadczenia:before {
  font-family: 'datasets';
  content: "\e617";
}

.icon-datasets-poslowie_rejestr_korzysci:before {
  font-family: 'datasets';
  content: "\e61a";
}

.icon-datasets-poslowie_wspolpracownicy:before {
  font-family: 'datasets';
  content: "\e613";
}

.icon-datasets-powiaty:before {
  font-family: 'datasets';
  content: "\e626";
}

.icon-datasets-prawo:before,
.icon-datasets-prawo_projekty:before,
.icon-datasets-prawo_urzedowe:before,
.icon-datasets-krakow_rada_uchwaly:before,
.icon-datasets-krakow_dzielnice_uchwaly:before,
.icon-datasets-krakow_zarzadzenia:before,
.icon-datasets-prawo_wojewodztwa:before {
  font-family: 'datasets';
  content: "\e637";
}

.icon-datasets-prawo_hasla:before {
  font-family: 'datasets';
  content: "\e636";
}

.icon-datasets-sejm_dezyderaty:before {
  font-family: 'datasets';
  content: "\e611";
}

.icon-datasets-sejm_druki:before {
  font-family: 'datasets';
  content: "\e60f";
}

.icon-datasets-nik_raporty:before,
.icon-datasets-sejm_interpelacje:before {
  font-family: 'datasets';
  content: "\e637";
}

.icon-datasets-sejm_komunikaty:before {
  font-family: 'datasets';
  content: "\e616";
}

.icon-datasets-sejmometr:before {
  font-family: 'datasets';
  content: "\e61b";
}

.icon-datasets-sa_orzeczenia:before {
  font-family: 'datasets';
  content: "\e632";
}

.icon-datasets-sn_orzeczenia:before {
  font-family: 'datasets';
  content: "\e634";
}

.icon-datasets-sp_orzeczenia:before {
  font-family: 'datasets';
  content: "\e633";
}

.icon-datasets-urzednicy:before, 
.icon-datasets-radni_dzielnic:before, 
.icon-datasets-krs_osoby:before, 
.icon-datasets-osoby_mezczyzna:before,
.icon-datasets-osoby_kobieta:before,
.icon-datasets-krakow_urzednicy:before {
  font-family: 'datasets';
  content: "\e627";
}

.icon-datasets-urzednicy_rejestr_korzysci:before {
  font-family: 'datasets';
  content: "\e628";
}

.icon-datasets-wydatki_poslow:before {
  font-family: 'datasets';
  content: "\e603";
}

.icon-datasets-wyjazdy_poslow:before {
  font-family: 'datasets';
  content: "\e602";
}

.icon-datasets-zamowienia_publiczne:before, 
.icon-datasets-krakow_umowy:before, 
.icon-datasets-zamowienia_publiczne_dokumenty:before, 
.icon-datasets-krakow_zamowienia_publiczne:before {
  font-family: 'datasets';
  content: "\e625";
}

.icon-datasets-krakow_posiedzenia:before, .icon-datasets-sejm_posiedzenia:before {
  font-family: 'datasets';
  content: "\e615";
}

.icon-datasets-gminy:before,
.icon-datasets-dzielnice:before {
  font-family: 'datasets';
  content: "\e626";
}

.icon-datasets-rady_gmin_interpelacje:before, .icon-datasets-sejm_interpelacje:before, .icon-datasets-sejm_interpelacje_pisma:before {
  font-family: 'datasets';
  content: "\e610";
}

.icon-datasets-krakow_posiedzenia_punkty:before, 
.icon-datasets-sejm_debaty:before, 
.icon-datasets-sejm_posiedzenia_punkty:before {
  font-family: 'datasets';
  content: "\e612";
}

.icon-datasets-krakow_glosowania:before, 
.icon-datasets-krakow_glosowania_glosy:before,
.icon-datasets-sejm_glosowania:before {
  font-family: 'datasets';
  content: "\e614";
}

.icon-datasets-rady_druki:before, .icon-datasets-prawo_projekty:before {
  font-family: 'datasets';
  content: "\e60a";
}

.icon-datasets-krakow_rada_komisje:before,
.icon-datasets-krakow_komisje:before {
	font-family: 'datasets';
	content: "\e60e";
}
