@font-face {
	font-family: 'pagination';
	src:url('/fonts/pagination/pagination.eot?gkg0mf');
	src:url('/fonts/pagination/pagination.eot?gkg0mf#iefix') format('embedded-opentype'),
		url('/fonts/pagination/pagination.ttf?gkg0mf') format('truetype'),
		url('/fonts/pagination/pagination.woff?gkg0mf') format('woff'),
		url('/fonts/pagination/pagination.svg?gkg0mf#pagination') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'pagination';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pagination-next:before {
	content: "\e600";
}
.icon-pagination-prev:before {
	content: "\e601";
}
.icon-pagination-first:before {
	content: "\e602";
}
.icon-pagination-last:before {
	content: "\e603";
}

