#reportBug {
    @marginSpace: 4em;

    margin-top: @marginSpace;
    margin-bottom: @marginSpace;

    p:last-child {
        margin-bottom: 20px;
    }

    .sliceBtn {
        width: 330px;
        margin: 10px auto;
    }

    .btn.btn-github {
        display: block;

        > *:first-child {
            font-size: 1.2em;
        }
    }
    .input-group {
        .input-group-btn, .form-control {
            height: 34px;
        }
        .form-control {
            margin-top: 2px;
        }
    }
}
