#reportBug {
    @marginSpace: 4em;

    margin-top: @marginSpace;
    margin-bottom: @marginSpace;

    header {
        font-size: 22px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        text-align: justify;
        margin-top: 0;
    }

    .btn {
        display: block;
        width: 450px;
        margin: 40px auto 30px;
    }
}