#_main .globalSearch {
    display: none;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    background-color: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;

    .floatingPart {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);

        .suggesterBlock {
            @searchHeight: 50px;

            font-weight: 400;
            font-size: 18px;
            margin-bottom: 1em;
            color: #000000;

            .input-group {
                width: 100%;

                input {
                    border-radius: 5px 0 0 5px !important;
                }

                .ui-autocomplete-input.open {
                    border-bottom-left-radius: 0;
                    -webkit-border-bottom-left-radius: 0;
                }

                .form-control,
                .input-group-btn button {
                    height: @searchHeight;
                    font-size: 16px;
                }
                .form-control {
                    color: #333;
                    width: 100%;
                    margin-right: -(@searchHeight);
                    padding-right: (@searchHeight + 5);
                }

                .form-control::-webkit-input-placeholder {
                    color: #AAA;
                }

                .form-control:-moz-placeholder {
                    /* Firefox 18- */
                    color: #AAA;
                }

                .form-control::-moz-placeholder {
                    /* Firefox 19+ */
                    color: #AAA;
                }

                .form-control:-ms-input-placeholder {
                    color: #AAA;
                }

                .input-group-btn button {
                    color: #014068;
                    width: @searchHeight + 10;
                    height: @searchHeight;
                    display: block;
                    z-index: 2;

                    &.loading {
                        background: url(/img/loader/search-loading.png) center center no-repeat #ffffff;
                    }
                }
            }
        }
    }
}

.autocompleteSuggester {
    @acFocusBackground: #FF6347;

    -moz-border-top-left-radius: 0;
    -moz-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color: #CCCCCC;
    padding: 0;
    border-top-width: 0;
    background-color: #FCFCFC;
    z-index: 9100;

    .ui-menu-item {
        border-top: 1px solid #E3E3E3;
        display: block;

        &.button {
            p {
                text-align: center;

                a.btn {
                    color: #FFFFFF;
                }
            }

            a {
                background-color: #59a4dd;
                color: #FFFFFF;
                font-size: 13px;
                padding: 8px 0;
                text-transform: uppercase;

                span {
                    font-size: 16px;
                    margin-right: 5px;
                    position: relative;
                    top: 3px;
                }
            }

            .ui-state-hover, .ui-state-focus {
                background-color: #59a4dd !important;
                color: #FFFFFF;
                padding: 8px 0;

                > span {
                    color: #FFFFFF;
                }

            }

            .ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
                color: #FFFFFF;
                background-color: #59a4dd;

                &.a, &.span {
                    color: #FFFFFF;
                }
            }
        }

        &:last-child {
            background-color: #428bca;

            a, p, p._title {
                color: #FFFFFF;
            }

            .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
                background-color: #428bca;
                color: #FFFFFF;

                span {
                    color: #FFFFFF;
                }
            }

            .ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
                color: #FFFFFF;
                background-color: #428bca;
            }
        }

        a {
            font-family: "Lato", Arial, sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #333;
            border-radius: 0;
            -webkit-border-radius: 0;
            border: none;
            padding: 12px;
            display: block;
            float: left;
            width: 100%;
            margin: 0;

            &:hover, &:focus, &:active {
                color: #FFFFFF;
                background-color: #EEEEEE;
                border: none;
                margin: 0;
                padding: 12px;
            }

            p {
                margin: 0;

                &._label {
                    text-align: right;
                    padding-right: 0;

                    .label {
                        background-color: inherit;
                        color: #666;
                        font-weight: 400;
                        font-size: 11px;
                        text-transform: uppercase;
                    }
                }

                &._title {
                    color: #428bca;
                    font-weight: bold;
                    font-size: 13px;
                    margin-top: 2px;
                    margin-bottom: -2px;
                }
            }
        }
    }
    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
        background: #EEEEEE none;
        color: #333333;
        margin: 0;
        padding: 12px;
        border: none;

        span {
            color: #333333;
        }
    }

    .ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
        margin: 0;
        color: #333333;
        padding: 12px;
        background-color: #EEEEEE;
    }
}